
/* 聯繫 */
form.appointment_card{
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #d09661;
}

form.appointment_card>div.appointment_item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}

form.appointment_card>div.appointment_item>label{
    flex: 1;
}

form.appointment_card>div.appointment_item>input{
    flex: 4;
    outline: none;
    border: 1px solid #d09661;
    background-color: #FCFAE3;
    border-radius: 10px;
    color: #d09661;
    padding: 5px 10px 0;
}

form.appointment_card>div.appointment_item>input::placeholder{
    color: #d09661;
}

form.appointment_card>div.radio{
    justify-content: start;
}

form.appointment_card>div.radio>label{
    flex: none;
}

form.appointment_card>div.radio>input{
    flex: none;
    margin-right: 50px;
    margin-top: 5px;
}

form.appointment_card>div.appointment_item>textarea{
    flex: 1;
    height: 400px;
    resize: none;
    border: 3px solid #d09661;
    color: #d09661;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

form.appointment_card>div.appointment_item>textarea::placeholder{
    color: #d09661;
}