
/* div.all_div */
div.all_div{
    width: 100%;
}

div.all_div_closed{
    opacity: 0.5;
}

/* div.header_div */
div.header_div{
    display: flex;
    width: 100%;
}

/* logo */
a.logo{
    flex: 3;
    display: inline-block;
    z-index: 1;
}

/* header ul&li */
div.header_div{
    background-color: #FCFAE3;
}

ul.left_ul{
    flex: 9;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 70px;
    align-items: center;
    z-index: 10;
}

ul.left_ul>li{
    position: relative;
    display: inline-block;
}

ul.left_ul>li>a{
    color: #F1E3A7;
    font-size: 24px;
    padding: 0 15px; 
    font-weight: bold;
    text-decoration: none;
}

ul.left_ul>li:hover>a{
    color: #d09661;
    text-decoration: underline #d09661;
}

ul.left_ul>li>ul{
    padding: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw;
    justify-content: center;
    align-items: center;
    background-color: #F1E3A7;
    border-radius: 10px;
    display: none;
}

ul.left_ul>li>ul>li{
    text-align: center;
    line-height: 50px;
    height: 100px;
    display: inline-block;
    list-style: none;
}

ul.left_ul>li>ul>li>a{
    text-decoration: none;
    color: #d09661;
    font-weight: bold;
    font-size: 24px;
    padding: 0 30px;
    line-height: 100px;
}

ul.left_ul>li:hover>ul{
    display: flex;
}

ul.left_ul>li>ul>li:hover{
    cursor: pointer;
    opacity: 1;
    background-color: #FCFAE3;
}

ul.left_ul>li>ul>li:hover>a{
    font-size: 24px;
    color: #d09661;
}

ul.right_ul{
    flex: 3;
    display: flex;
    align-items: center;
    padding-top: 4.67px;
}

ul.right_ul>li{
    position: relative;
    display: inline-block;
}

ul.right_ul>li>a{
    color: #F1E3A7;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px; 
    text-decoration: none;
}

ul.right_ul>li>a:hover{
    color: #d09661;
    text-decoration: underline #d09661;
}

ul.ul_fixed{
    position: fixed;
    z-index: 101;
}

ul.ul_fixed>li>a{
    color: #d09661;
    transition: color 2s;
}

ul>li>a.header_li_a_clicked{
    color: #d09661;
    text-decoration: underline #d09661;
}

/* hambuger_list */
div.hambuger_list{
    display: none; /* 電腦版的時候沒有漢堡條 */
    width: 100px;
    height: 115px;
    right: 10px;
    opacity: 0.5;
}

div.hambuger_list:hover{
    cursor: pointer;
    opacity: 1;
}

div.hambuger_list>div{
    margin: 25px 0;
    width: 100%;
    height: 5px;
    background-color: #d09661;
}

div.hambuger_list_hover{
    position: fixed;
    animation-name: div_rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    transform: rotate(180deg);
    z-index: 101;
}

div.hambuger_list>div.rotate_1{
    animation-name: line_1;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    transform: rotate(45deg) translate(20px, 20px);
}

div.hambuger_list>div.rotate_2{
    display: none;
}

div.hambuger_list>div.rotate_3{
    animation-name: line_3;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    transform: rotate(-45deg);
}

@keyframes line_1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg) translate(20px, 20px);     
    }
}

@keyframes line_3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@keyframes div_rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

/* banner輪播圖 */
ul.slider_img_card{
    position: relative;
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0;
    perspective: 250px;
    overflow: hidden;
}

ul.slider_img_card>li{
    position: absolute;
    width: 100%;
    height: inherit;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

ul.slider_img_card>li>a{
    width: 100%;
    height: inherit;
    text-decoration: none;
}

ul.slider_img_card>li>a>div{
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.slider_img_card>li>a>div>p{
    font-size: 36px;
    font-weight: bold;
    color: white;
}


ul.slider_img_card>li:nth-child(1){
    background-color: red;
    left: -100%;
}

ul.slider_img_card>li:nth-child(2){
    background-color: green;
    left: 0%;
}

ul.slider_img_card>li:nth-child(3){
    background-color: orange;
    left: 100%;
}

ul.slider_img_card>li:nth-child(4){
    background-color: blue;
    left: 0;
}

div.slider_img_next{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

div.slider_img_next:hover{
    cursor: pointer;
}

div.slider_img_previous{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

div.slider_img_previous:hover{
    cursor: pointer;
}

div.slider_img_bottom_card{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0%;
    z-index: 1;
}

div.slider_img_bottom_card>div{
    display: inline-block;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FCFAE3;
    transition: all 1s ease-in-out;
}

div.slider_img_bottom_card>div:first-child{
    background-color: #d09661;
}

/* 返回上層按鈕 */
div.return_to_top{
    position: fixed;
    transform: translateY(-500%);
    width: 50px;
    height: 50px;
    right: 5%;
    z-index: 99;
    opacity: 0;
    transition: all 2s;
}

div.make_sure_return_to_top{
    position: fixed;
    opacity: 1;
    transform: translateY(0);
}

div.make_sure_return_to_top:hover{
    cursor: pointer;
}

/* 漢堡條點擊後出現的頁面 */
div.hamburger_content{
    top: 0%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #FCFAE3;
    opacity: 0.9;
    transform: translateX(100%);
    transition: all 1s;
}

div.hamburger_content_open{
    transform: translateX(0);
}

div.hamburger_content>ul{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    margin: 200px 0;
    padding: 0;
}

div.hamburger_content>ul>li{
    position: relative;
    list-style: none;
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
}

div.hamburger_content>ul>li>a{
    text-decoration: none;
    color: #d09661;
}

div.hamburger_content>ul>li>ul{
    position: absolute;
    display: none;
    width: 50%;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    border: 1px solid #d09661;
    border-radius: 10px;
    background-color: #F1E3A7;
}

div.hamburger_content>ul>li:hover{
    cursor: pointer;
}

div.hamburger_content>ul>li:hover>ul{
    display: block;
}

div.hamburger_content>ul>li>ul>li{
    display: inline-block;
    list-style: none;
    text-align: center;
}

div.hamburger_content>ul>li>ul>li>a{
    color: #d09661;
    font-size: 24px;
    text-decoration: none;
}

div.hamburger_content>ul>li>ul>li:hover{
    cursor: pointer;
}

div.hamburger_content>ul>li>ul>li:hover>a{
    color: white;
}

/* header的media_screen */
@media screen and (max-width: 917px) and (min-width: 817px){
    ul.left_ul{
        display: none;
    }

    div.hambuger_list{
        display: block;
    }
}

@media screen and (max-width: 816.98px) and (min-width: 600px){
    ul.left_ul{
        display: none;
    }

    div.hambuger_list{
        display: block;
    }

    ul.slider_img_card>li>a>div>p{
        font-size: 24px;
    }
}

@media screen and (max-width: 599.98px) {
    ul.left_ul{
        display: none;
    }

    div.hambuger_list{
        display: block;
    }

    ul.slider_img_card>li>a>div>p{
        font-size: 16px;
    }
}