
/* div.all_div */
div.all_div{
    width: 100%;
}

div.all_div_closed{
    opacity: 0.5;
}

/* div.banner_div */
div.header_div{
    display: flex;
    width: 100%;
}

/* logo */
a.logo{
    flex: 3;
    display: inline-block;
    z-index: 1;
}

/* header ul&li */
div.header_div{
    background-color: #F1E3A7;
}

ul.left_ul{
    flex: 9;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 70px;
    align-items: center;
}

ul.left_ul>li{
    position: relative;
    display: inline-block;
}

ul.left_ul>li>a{
    color: #d09661;
    font-size: 24px;
    padding: 0 15px; 
    font-weight: bold;
    text-decoration: none;
}

ul.left_ul>li:hover>a{
    color: #d09661;
    text-decoration: underline #d09661;
}

ul.left_ul>li>ul{
    padding: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    display: none;
}

ul.left_ul>li>ul>li{
    opacity: 0.8;
    background-color: #FCFAE3;
    text-align: center;
    line-height: 50px;
    height: 50px;
    list-style: none;
}

ul.left_ul>li>ul>li>a{
    text-decoration: none;
    color: #d09661;
}

ul.left_ul>li:hover>ul{
    display: block;
}

ul.left_ul>li>ul>li:hover{
    cursor: pointer;
    opacity: 1;
    background-color: #FCFAE3;
}

ul.left_ul>li>ul>li:hover>a{
    font-size: 24px;
    color: #d09661;
}

ul.right_ul{
    flex: 3;
    display: flex;
    align-items: center;
    padding-top: 4.67px;
}

ul.right_ul>li{
    position: relative;
    display: inline-block;
}

ul.right_ul>li>a{
    color: #d09661;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px; 
    text-decoration: none;
}

ul.right_ul>li>a:hover{
    color: #d09661;
    text-decoration: underline #d09661;
}

ul.ul_fixed{
    position: fixed;
    z-index: 101;
}

ul.ul_fixed>li>a{
    color: #d09661;
    transition: color 2s;
}
ul>li>a.header_li_a_clicked{
    color: #d09661;
    text-decoration: underline #d09661;
}


/* hambuger_list */
div.hambuger_list{
    display: none; /* 電腦版的時候沒有漢堡條 */
    width: 100px;
    height: 115px;
    right: 10px;
    opacity: 0.5;
}

div.hambuger_list:hover{
    cursor: pointer;
    opacity: 1;
}

div.hambuger_list>div{
    margin: 25px 0;
    width: 100%;
    height: 5px;
    background-color: #d09661;
}

div.hambuger_list_hover{
    position: fixed;
    animation-name: div_rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    transform: rotate(180deg);
    z-index: 101;
}

div.hambuger_list>div.rotate_1{
    animation-name: line_1;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    transform: rotate(45deg) translate(20px, 20px);
}

div.hambuger_list>div.rotate_2{
    display: none;
}

div.hambuger_list>div.rotate_3{
    animation-name: line_3;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    transform: rotate(-45deg);
}

@keyframes line_1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg) translate(20px, 20px);     
    }
}

@keyframes line_3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@keyframes div_rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

/* banner輪播圖 */

/* 返回上層按鈕 */
div.return_to_top{
    position: fixed;
    transform: translateY(-500%);
    width: 50px;
    height: 50px;
    right: 5%;
    z-index: 99;
    opacity: 0;
    transition: all 2s;
}

div.make_sure_return_to_top{
    position: fixed;
    opacity: 1;
    transform: translateY(0);
}

div.make_sure_return_to_top:hover{
    cursor: pointer;
}

/* 漢堡條點擊後出現的頁面 */
div.hamburger_content{
    top: 0%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #FCFAE3;
    opacity: 0.9;
    transform: translateX(100%);
    transition: all 1s;
}

div.hamburger_content_open{
    transform: translateX(0);
}

div.hamburger_content>ul{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    margin: 200px 0;
    padding: 0;
}

div.hamburger_content>ul>li{
    position: relative;
    list-style: none;
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
}

div.hamburger_content>ul>li>a{
    text-decoration: none;
    color: #d09661;
}

div.hamburger_content>ul>li>ul{
    position: absolute;
    display: none;
    width: 50%;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    border: 1px solid #d09661;
    border-radius: 10px;
    background-color: #F1E3A7;
}

div.hamburger_content>ul>li:hover{
    cursor: pointer;
}

div.hamburger_content>ul>li:hover>ul{
    display: block;
}

div.hamburger_content>ul>li>ul>li{
    display: inline-block;
    list-style: none;
    text-align: center;
}

div.hamburger_content>ul>li>ul>li>a{
    color: #d09661;
    font-size: 24px;
    text-decoration: none;
}

div.hamburger_content>ul>li>ul>li:hover{
    cursor: pointer;
}

div.hamburger_content>ul>li>ul>li:hover>a{
    color: white;
}