
/* goods_category_content_card */
div.goods_category_content_card{
    display: flex;
    position: relative;
}

/* 商品條件選擇 */

h2.goods_selection_title{
    color: #d09661;
    text-align: center;
    margin: 100px 0;
}

div.goods_selection_selected_condition{
    position: absolute;
    top: -20%;
    width: 200px;
}

div.goods_selection_selected_condition>div.goods_selection_selected_condition_item{
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #ABFF77;
    border-radius: 5px;
    display: none;
}

div.goods_selection_selected_condition>div.goods_selection_selected_condition_item_open{
    display: block;
}

div.goods_selection_selected_condition>div.goods_selection_selected_condition_item:hover{
    cursor: pointer;
    background-color: #FF6D6D;
}

div.goods_selection_selected_condition>div.goods_selection_selected_condition_item:hover>div.goods_selection_selected_condition_item_line{
    display: block;
}

div.goods_selection_selected_condition>div.goods_selection_selected_condition_item>p{
    margin: 10px 0;
    padding: 5px;
}

div.goods_selection_selected_condition>div.goods_selection_selected_condition_item>div.goods_selection_selected_condition_item_line{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: black;
    display: none;
}

div.goods_selection_card{
    display: inline-block;
    width: 200px;
    background-color: #F1E3A7;
}

div.goods_selection_condition>ul{
    padding: 0;
    margin: 0;
}

div.goods_selection_condition>ul>li{
    position: relative;
}

div.goods_selection_condition>ul>li:hover{
    cursor: pointer;
}

div.goods_selection_condition>ul>li>h2{
    margin: 0 0 0 10px;
}

div.goods_selection_condition>ul>li>div{
    width: 100%;
    height: 3px;
    background-color: #d09661;
}

div.goods_selection_condition>ul>li>ul{
    position: absolute;
    opacity: 0;
    padding: 0;
    width: 100%;
    transform: translateY(-400%);
    transition: all 0.5s;
}

div.goods_selection_condition>ul>li>ul:hover{
    cursor: auto;
}

div.goods_selection_condition>ul>li>ul.goods_selection_condition_title1_checked{
    position: relative;
    opacity: 1;
    transform: translateY(0);
    text-align: start;
    background-color: #FCFAE3;
    padding: 10px 0;    
}

div.goods_selection_condition>ul>li>ul.goods_selection_condition_title2_checked{
    position: relative;
    opacity: 1;
    transform: translateY(0);
    text-align: start;
    background-color: #FCFAE3;
    padding: 10px 0;    
}

div.goods_selection_condition>ul>li>ul>li{
    text-align: start;
    background-color: #FCFAE3;
    padding: 10px 0;   
}


div.goods_selection_condition>ul>li>ul>li>p{
    display: inline-block;
    margin: 0;
}

div.goods_selection_condition>ul>li>ul>li>p:hover{
    cursor: pointer;
}

div.goods_selection_condition>ul>li>ul>li>div.goods_selection_price_checkbox{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: 20px;
    border: 1px solid;
}

div.goods_selection_condition>ul>li>ul>li>div.goods_selection_mood_checkbox{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: 20px;
    border: 1px solid;
}

div.goods_selection_condition>ul>li>ul>li>div.goods_selection_price_checkbox:hover{
    cursor: pointer;
    background-color: #F1E3A7;
}

div.goods_selection_condition>ul>li>ul>li>div.goods_selection_mood_checkbox:hover{
    cursor: pointer;
    background-color: #F1E3A7;
}

div.goods_selection_condition>ul>li>ul>li>div.goods_selection_price_checkbox_checked{
    background-color: #d09661;
}

div.goods_selection_condition>ul>li>ul>li>div.goods_selection_mood_checkbox_checked{
    background-color: #d09661;
}


/* 商品預覽 */
div.product_preview_card{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-bottom: 300px;
}

div.product_preview_card>div.product_preview_item{
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    perspective: 1000px;
}

div.product_preview_card>div.product_preview_item>div.product_preview_item_img>img{
    width: 100%;
    height: 100%;
}

div.product_preview_card>div.product_preview_item>div.product_preview_item_img{
    position: absolute;
    border: 3px solid #d09661;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: all 0.25s ease-in-out;
}

div.product_preview_card>div.product_preview_item:hover>div.product_preview_item_img{
    cursor: pointer;
    transform: rotateY(180deg);
}

div.product_preview_card>div.product_preview_item>div.product_preview_item_content{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #d09661;
    text-align: center;
    color: #d09661;
    background-color: #FCFAE3;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transition: all 0.25s ease-in-out;
}

div.product_preview_card>div.product_preview_item:hover>div.product_preview_item_content{
    transform: rotateY(0deg);
}

div.product_preview_card>div.product_preview_item>div.product_preview_item_content>div.product_preview_item_content_button{
    border: 1px solid #d09661;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin: auto;
    background-color: white;
}

div.product_preview_card>div.product_preview_item>div.product_preview_item_content>div.product_preview_item_content_button:hover{
    cursor: pointer;
}