
/* 商品內文圖片 */

div.products_img{
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 600px 400px;
    border: 5px solid #d09661;
    border-radius: 5px;
    margin: 50px auto;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
}

div.products_img_hover{
    cursor: zoom-in;
    background-size: 1800px 1200px;
}

div.products_img_mousemove{
    background-size: 1800px 1200px;
    background-position: calc(var(--x) * 100%) calc(var(--y) * 100%);
}

div.products_img>div.produncts_price{
    background-color: #F1E3A7;
    width: 100px;
    text-align: center;
    border-radius: 0 0 10px;
}

div.products_img>div.produncts_price>p{
    margin: 0;
    padding: 5px 0;
    color: #d09661;
}

/* 商品介紹內容及地址 */
div.products_interview_and_adress_content{
    display: flex;
    width: 610px;
    margin: 0 auto;
}

div.products_interview_and_adress_content>div{
    flex: 1;
}

div.products_interview_and_adress_content>div.products_adress_content{
    display: flex;
    justify-content: flex-end;
}

/* 商品購買數量及購買按鈕 */
div.products_count_and_buy_button{
    display: flex;
    flex-direction: column;
}

div.products_count{
    flex: 1;
    position: relative;
    width: 600px;
    margin: auto;
    text-align: center;
}

div.products_buy_button{
    flex: 1;
}

select.products_count_select_card{
    width: 50px;
    outline: none;
}

input.products_count_input{
    position: absolute;
    top: 1px;
    left: 46%;
    width: 25px;
    padding: 3px;
    border: none;
    outline: none;
}

div.products_buy_button{
    width: 200px;
    margin: auto;
    border: 3px solid #d09661;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -210px 0;
    color: #d09661;
    transition: all 1s;
}

div.products_buy_button:hover{
    cursor: pointer;
}

div.products_buy_button_hover{
    background-position: 0;
    color: white;
}

/* 更多商品 */
div.more_products_card{
    position: relative;
    height: 315px;
    overflow: hidden;
}

div.more_products_card>a>div{
    position: absolute;
    width: 24%;
    height: 100%;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: more_products_item;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

div.more_products_card:hover>a>div{
    animation-play-state: paused;
}

@keyframes more_products_item{
    0%{
        transform: translateX(0);
    }
    16%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-315px);
    }
    36%{
        transform: translateX(-315px);
    }
    40%{
        transform: translateX(-630px);
    }
    56%{
        transform: translateX(-630px);
    }
    60%{
        transform: translateX(-945px);
    }
    76%{
        transform: translateX(-945px);
    }
    80%{
        transform: translateX(-1260px);
    }
    100%{
        transform: translateX(-1260px);
    }
}

div.more_products_card>a>div.more_products_item1{
    top: 0;
    left: 0;
}

div.more_products_card>a>div.more_products_item2{
    top: 0;
    left: 315px;
}

div.more_products_card>a>div.more_products_item3{
    top: 0;
    left: 630px;
}

div.more_products_card>a>div.more_products_item4{
    top: 0;
    left: 945px;
}


div.more_products_card>a>div.more_products_item5{
    top: 0;
    left: 1260px;
}

div.more_products_card>a>div.more_products_item6{
    top: 0;
    left: 1575px;
}

div.more_products_card>a>div.more_products_item7{
    top: 0;
    left: 1890px;
}

div.more_products_card>a>div.more_products_item8{
    top: 0;
    left: 2205px;
}