
/* 商品內文圖片 */

div.products_img{
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 600px 400px;
    border: 5px solid #d09661;
    border-radius: 5px;
    margin: 50px auto;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
}

div.products_img_hover{
    cursor: zoom-in;
    background-size: 1800px 1200px;
}

div.products_img_mousemove{
    background-size: 1800px 1200px;
    background-position: calc(var(--x) * 100%) calc(var(--y) * 100%);
}

div.products_img>div.products_price{
    background-color: #F1E3A7;
    width: 100px;
    text-align: center;
    border-radius: 0 0 10px;
}

div.products_img>div.products_price>p{
    margin: 0;
    padding: 5px 0;
    color: #d09661;
}

/* 商品介紹內容及地址 */
div.products_interview_and_adress_content{
    display: flex;
    width: 610px;
    margin: 0 auto;
}

div.products_interview_and_adress_content>div{
    flex: 1;
}

div.products_interview_and_adress_content>div.products_adress_content{
    display: flex;
    justify-content: flex-end;
}

/* 商品購買數量及購買按鈕 */
div.products_count_and_buy_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.products_count{
    flex: 1;
    position: relative;
    width: 600px;
    margin: auto;
    text-align: center;
}

div.products_buy_button{
    flex: 1;
}

div.products_buy_button>a{
    text-decoration: none;
    color: #d09661;
}

select.products_count_select_card{
    width: 50px;
    outline: none;
}

input.products_count_input{
    position: absolute;
    top: 1px;
    left: 46%;
    width: 25px;
    padding: 3px;
    border: none;
    outline: none;
    color: #d09661;
}

input.products_count_input::placeholder{
    color: #d09661;
}

input.products_count_input:-ms-placeholder{
    color: #d09661;
}

input.products_count_input:-moz-placeholder{
    color: #d09661;
}

input.products_count_input:-webkit-input-placeholder{
    color: #d09661;
}

div.products_buy_button{
    width: 200px;
    margin: auto;
    border: 3px solid #d09661;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -210px 0;
    transition: all 1s;
}

div.products_buy_button:hover{
    cursor: pointer;
}

div.products_buy_button_hover{
    background-position: 0;
}

div.products_buy_button_hover>a.products_buy_button_a_hover{
    color: white;
}

/* 更多商品 */
div.more_products_card{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    height: 315px;
    overflow: auto;
}

div.more_products_card::-webkit-scrollbar-button{
    display: none;
}

div.more_products_card::-webkit-scrollbar {
    background-color: rgba(241, 227, 167, 0.349);
}

div.more_products_card::-webkit-scrollbar-thumb{
    background-color: #d09661;
    border-radius: 10px;
}

div.more_products_card>a{
    /* flex: 1; */
    width: calc(100% / 4);
    height: calc(100% - 6px);
    margin-bottom: 50px;
}

div.more_products_card>a>div{
    /* position: absolute; */
    /* width: calc((100% - 100px) / 4); */
    border: 3px solid #d09661;
    height: calc(100% - 6px);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    /* animation-name: more_products_item; */
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media screen and (max-width: 817px) and (min-width: 617px){
    div.products_img{
        width: 450px;
        height: 300px;
        background-size: 450px 300px;
    }

    div.products_img>div.products_price{
        width: 75px;
    }

    div.products_interview_and_adress_content{
        width: 460px;
    }

    div.products_count{
        width: 460px;
    }

    input.products_count_input{
        left: 44.9%;
    }

    div.more_products_card>a{
        /* flex: 1; */
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 616.98px) and (min-width: 417px){
    div.products_img{
        width: 300px;
        height: 200px;
        background-size: 300px 200px;
    }

    div.products_img>div.products_price{
        width: 50px;
    }

    div.products_interview_and_adress_content{
        width: 310px;
    }

    div.products_count{
        width: 310px;
    }

    input.products_count_input{
        left: 42.5%;
    }

    div.more_products_card>a{
        /* flex: 1; */
        width: calc(100% / 2);
    }

    div.products_interview_and_adress_content>div.products_interview_content>p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    div.products_interview_and_adress_content>div.products_interview_content>p{
        display: block;
    }
}

@media screen and (max-width: 416.98px){
    div.products_img{
        width: 300px;
        height: 200px;
        background-size: 300px 200px;
    }

    div.products_img>div.products_price{
        width: 50px;
    }

    div.products_interview_and_adress_content{
        width: 310px;
    }

    div.products_count{
        width: 310px;
    }

    input.products_count_input{
        left: 42.5%;
    }

    div.more_products_card>a{
        /* flex: 1; */
        width: 100%;
    }

    div.products_interview_and_adress_content>div.products_interview_content>p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    div.products_interview_and_adress_content>div.products_interview_content>p{
        display: block;
    }
}